<div role="main" class="main with-sidebar">
<section class="main-content-wrap">
  <div class="container">

<h1><%=@message%></h1>
  </div>
</section>



<section class="featured-foot">
  <div class="container">
    <div class="partners-2 text-center">
      <div class="partners-wrap">
        <h3>Our brands</h3>
        <ul class="list-partners">
          <li>
            <a href="#" target="_blank"><img alt="Partner" src="/marvel/images/partners/partner-1.jpg"></a>
          </li>
          <li>
            <a href="#" target="_blank"><img alt="Partner" src="/marvel/images/partners/partner-2.jpg"></a>
          </li>
          <li>
            <a href="#" target="_blank"><img alt="Partner" src="/marvel/images/partners/partner-3.jpg"></a>
          </li>
          <li>
            <a href="#" target="_blank"><img alt="Partner" src="/marvel/images/partners/partner-4.jpg"></a>
          </li>
          <li>
            <a href="#" target="_blank"><img alt="Partner" src="/marvel/images/partners/partner-5.jpg"></a>
          </li>
          <li>
            <a href="#" target="_blank"><img alt="Partner" src="/marvel/images/partners/partner-6.jpg"></a>
          </li>
          <li>
            <a href="#" target="_blank"><img alt="Partner" src="/marvel/images/partners/partner-7.jpg"></a>
          </li>
          <li>
            <a href="#" target="_blank"><img alt="Partner" src="/marvel/images/partners/partner-8.jpg"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="featured-note">
  <div class="container">
    <ul class="row list-note">
      <li class="col-sm-4">
        <div class="list-note-item">
          <span class="icons icon-plane pull-left"></span>
          <h4>Delivery worldwide</h4>
          <p>See all conditions</p>
        </div>
      </li>
      <li class="col-sm-4">
        <div class="list-note-item">
          <span class="icons icon-refresh pull-left"></span>
          <h4>30 days returns</h4>
          <p>For a smooth shopping</p>
        </div>
      </li>
      <li class="col-sm-4">
        <div class="list-note-item">
          <span class="icons icon-call pull-left"></span>
          <h4>0123 456 889</h4>
          <p>Contact Customer</p>
        </div>
      </li>
    </ul>
  </div>
</section>


</div>