
<div id="offcanvas-cart" class="uk-offcanvas">
  <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
    <div class="uk-panel">
      <h3>Cart</h3>
      <ul class="list-thumbs-pro">
        <li class="product">
          <div class="thumb-item">
            <div class="thumb-item-img">
              <a href="#"><img width="80" src="/marvel/images/products/product-1.jpg" alt=""></a>
            </div>

            <div class="thumb-item-content">
              <h3><a href="#">Striped full skirt</a></h3>
              <div class="star-rating" title="Rated 5.00 out of 5">
                <span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
              </div>
              <p class="product-price"><ins>$280.00</ins></p>
            </div>
          </div>
        </li>
        <li class="product">
          <div class="thumb-item">
            <div class="thumb-item-img">
              <a href="#"><img width="80" src="/marvel/images/products/product-2.jpg" alt=""></a>
            </div>

            <div class="thumb-item-content">
              <h3><a href="#">Striped full skirt</a></h3>
              <div class="star-rating" title="Rated 5.00 out of 5">
                <span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
              </div>
              <p class="product-price"><ins>$280.00</ins></p>
            </div>
          </div>
        </li>
        <li class="product">
          <div class="thumb-item">
            <div class="thumb-item-img">
              <a href="#"><img width="80" src="/marvel/images/products/product-6.jpg" alt=""></a>
            </div>

            <div class="thumb-item-content">
              <h3><a href="#">Striped full skirt</a></h3>
              <div class="star-rating" title="Rated 5.00 out of 5">
                <span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
              </div>
              <p class="product-price"><ins>$280.00</ins></p>
            </div>
          </div>
        </li>
      </ul>
      <ul class="list-inline cart-subtotals">
        <li class="cart-subtotal"><strong>Subtotal:</strong></li>
        <li class="price"><span class="amount"><strong>$431</strong></span></li>
      </ul>
      <a href="shop-cart-full.html" class="btn btn-dark btn-block">View Cart</a>
      <a href="shop-checkout.html" class="btn btn-primary btn-block">Go to Checkout</a>
    </div>
  </div>
</div>
