<div class="modal fade quickview-wrapper" id="quickview-detail" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <div class="product-detail">
        <div class="row">
          <div class="col-md-6">
            <div class="product-preview">
              <div class="flexslider flexsliderModal">
                <ul class="slides">
                  <li data-thumb="/marvel/images/products/product-9.jpg">
                    <img src="/marvel/images/products/product-9.jpg" alt="">
                  </li>
                  <li data-thumb="/marvel/images/products/product-8.jpg">
                    <img src="/marvel/images/products/product-8.jpg" alt="">
                  </li>
                  <li data-thumb="/marvel/images/products/product-7.jpg">
                    <img src="/marvel/images/products/product-7.jpg" alt="">
                  </li>
                  <li data-thumb="/marvel/images/products/product-6.jpg">
                    <img src="/marvel/images/products/product-6.jpg" alt="">
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="thumb-item thumb-item-list summary">
              <div class="thumb-item-content">
                <h3><a href="#">Silver Stainless Steel</a></h3>
                <ul class="list-review">
                  <li>
                    <div class="star-rating" title="Rated 5.00 out of 5">
                      <span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
                    </div>
                  </li>
                  <li>0 Review</li>
                  <li class="btn-add-review"><a href="#">Add Your Review</a></li>
                </ul>
                <p class="product-price"><ins>$280.00</ins></p>
                <p>Nam ullamcorper neque non erat elementum vulputate. Nullam dignissim lobortis interdum. Donec nisi est, tempus eget. Nam ullamcorper neque non erat elementum vulputate. Nullam dignissim lobortis interdum.</p>
                <p class="quan">
                <label>Qty:</label>
                <input type="text" name="quantity" value="1" title="Qty" class="input-text qty">
                </p>
                <p class="thumb-act thumb-act-more">
                <a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i> <span>Add to Cart</span></a>
                <a href="#"><i class="fa fa-heart-o"></i></a>
                <a href="#"><i class="fa fa-exchange"></i></a>
                </p>
                <hr>
                <p class="product-cat">Category: <a href="#">Bottoms</a>.</p>
                <ul class="social-icons-share">
                  <li><label>Share on:</label></li>
                  <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                  <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Email"><i class="fa fa-envelope-o"></i></a></li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
