<aside id="aside" class="app-aside hidden-xs bg-dark">
  <div class="aside-wrap">
    <div class="navi-wrap">
    <!-- nav -->
      <nav ui-nav="" class="navi clearfix">
        <ul class="nav">
          <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
            <span>商品供应商后台</span>
          </li>

          <li class="line dk"></li>

          <li>
            <a href="" class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
              <b class="badge bg-info pull-right">3</b>
              <i class="glyphicon glyphicon-th"></i>
              <span>商品管理</span>
            </a>
            <ul class="nav nav-sub dk">
              <li class="nav-sub-header">
                <a href="">
                  <span>商品管理</span>
                </a>
              </li>
              <li>
                <a href="/provider/products/new">
                  <span>新增商品</span>
                </a>
              </li>
              <li>
                <a href="layout_fullwidth.html">
                  <span>商品列表</span>
                </a>
              </li>
            </ul>
          </li>

          <li class="line dk hidden-folded"></li>

          <li>
            <a href="" class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
              <b class="badge bg-info pull-right">3</b>
              <i class="glyphicon glyphicon-th"></i>
              <span>返现卡管理</span>
            </a>
            <ul class="nav nav-sub dk">
              <li class="nav-sub-header">
                <a href="">
                  <span>返现卡管理</span>
                </a>
              </li>
              <li>
                <a href="/provider/products/new">
                  <span>新购返现卡</span>
                </a>
              </li>
              <li>
                <a href="layout_fullwidth.html">
                  <span>订单列表</span>
                </a>
              </li>
              <li>
                <a href="layout_fullwidth.html">
                  <span>返现卡列表</span>
                </a>
              </li>
            </ul>
          </li>

          <li class="line dk hidden-folded"></li>
          <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
            <span>帐号管理</span>
          </li>
          <li>
            <a href="page_profile.html">
              <i class="icon-user icon text-success-lter"></i>
              <b class="badge bg-success pull-right">30%</b>
              <span>帐号信息</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="icon-question icon"></i>
              <span>修改密码</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- nav -->

      <!-- aside footer -->
      <div class="wrapper m-t">
        <div class="text-center-folded">
          <span class="pull-right pull-none-folded">60%</span>
          <span class="hidden-folded">销售量</span>
        </div>
        <div class="progress progress-xxs m-t-sm dk">
          <div class="progress-bar progress-bar-info" style="width: 60%;">
          </div>
        </div>
        <div class="text-center-folded">
          <span class="pull-right pull-none-folded">35%</span>
          <span class="hidden-folded">代理商数量</span>
        </div>
        <div class="progress progress-xxs m-t-sm dk">
          <div class="progress-bar progress-bar-primary" style="width: 35%;">
          </div>
        </div>
      </div>
      <!-- / aside footer -->
    </div>
  </div>
</aside>